*{
	color: black;
	background-color: #D3D3D3;
	font-family: Comic sans;
	text-shadow: 3px 3px 3px #D3D3D3;
}

body{
	overflow: auto;
}

.header h1{
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-size: 50px;
}

.header h5{
	border-style:solid;
	margin: 0px;
	padding: 0px;
}

nav a{
	width:20%;
	float: left;
	text-align: center;
	font-size: 25px;
	background-color: gray;
	text-decoration:none
}
	
a:hover{
	color:gray;
}

	

#description{
	font-size: 20px;
	border: solid 5px black;
	text-align:center;
}
		
#currentPage{
	margin: 10px;
	font-size: 40px;
	border: solid 5px black;
	float: left;
	padding: 10px;
}

a{
	text-decoration:none;
}


#parts{
	margin: 100px;
	text-align: center;
	font-size: 20px;
	border-style: solid;
	display:block;
	margin-left: auto;
	margin-right: auto;
	width:75%;
}

#F2P{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	border: solid 4px black;
	color:black;
}

#whale{
	text-align: center;
	display:block;
	margin-left: auto;
	margin-right: auto;
	width:75%;
	font-size: 30px;
	font-weight: bold;
	border: solid 4px black;
	color:black;
}

table caption{
	border: 5px solid black;
	font-size: 30px;
}

table td{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	position: center;
	border: 5px solid black;
}

table{
	border-collapse:  collapse;
	margin-left: auto;
	margin-right: auto;
	width:75%;
}